<div>
  <h3>Your Password Has Been Changed</h3>
</div>

<div>
  <p>Hi <%= @member.firstname %>,</p>

  <p>This is a confirmation that your Manchester Makerspace account password has been changed by an administrator.</p>

  <p>If you did not expect this change or believe this was done in error, please contact us immediately at <a href="mailto:contact@manchestermakerspace.org">contact@manchestermakerspace.org</a>.</p>

  <p>You can log in to your account at any time using the link below:</p>

  <%= link_to 'Log in to Manchester Makerspace Portal', url_for(action: :application, controller: 'application'), id: "login-link" %>
</div>
